# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/32da6914e443039/RENDERSYSTEM.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/5d11faf51ef983d2/WIN32WINDOW.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/58e188877c3868e3/RENDERSYSTEM.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/7573e976bc8bfe7d/WINDOW.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/df6e7dafdaceaec9/WIN32GAME.ipch
CrewSoft.be73c726/
v17/
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/ffef8f96eb3e19a4/LOGGER.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/88764a9e9132f9b9/GAME.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/66ae2862bf66a63b/MAIN.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/55e1b5c9600f9691/GRAPHICSENGINE.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/39e7a82b3186a981/BASE.ipch
.vs/CrewSoftGameEngine/v17/ipch/AutoPCH/334acf41f714173f/COMMON.ipch
